# Assignment 3 - Cason Henderson - Fall 2024 #

## Task 1: Types of Triangles ##

In [19]:
side_1 = float(input('First side is: '))
side_2 = float(input('Second side is: '))
side_3 = float(input('Third side is: '))

First side is:  14
Second side is:  14
Third side is:  14

In [25]:
if side_1 == side_2 == side_3:
    print('The triangle is equilateral')
elif side_1 == side_2 or side_2 == side_3 or side_1 == side_3:
    print('The triangle is isosceles')
else:
    print('The triangle is scalene')

The triangle is equilateral

## Task 2: Student Grades and At-Risk Status ##

In [11]:
student_grades = []

In [13]:
student_grades.append(float(input('First grade is: ')))
student_grades.append(float(input('Second grade is: ')))
student_grades.append(float(input('Third grade is: ')))
student_grades.append(float(input('Fourth grade is: ')))
student_grades.append(float(input('Fifth grade is: ')))

First grade is:  88
Second grade is:  82
Third grade is:  73
Fourth grade is:  77
Fifth grade is:  63

In [23]:
print(min(student_grades))
print(max(student_grades))
print(sum(student_grades)/len(student_grades))

63.0
88.0
76.6

In [15]:
print(student_grades)

[88.0, 82.0, 73.0, 77.0, 63.0]

In [35]:
student_risk = 0
for grade in student_grades:
    if grade <= 65:
        student_risk = student_risk + 1

In [42]:
print(student_risk)

1

In [58]:
print(str(student_risk) + ' students are at risk in the course.')

1 students are at risk in the course.

## Task 3: Ranges and Multiples ##

In [34]:
mult_of_2 = []
count = 0
while (count <= 100):
    #print(count)
    mult_of_2.append(count)
    count = count + 2
print('done')
print(mult_of_2)

done
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [36]:
mult_of_3 = []
count = 0
while (count <= 100):
    #print(count)
    mult_of_3.append(count)
    count = count + 3
print('done')
print(mult_of_3)

done
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [46]:
mult_of_2.extend(mult_of_3)
print(mult_of_2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [50]:
mult_of_either = list(set(mult_of_2) or set(mult_of_3))
print(mult_of_either)

[0, 2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99, 100]

## Task 4: Shopping List ##

In [1]:
shopping_list = []

In [3]:
while len(shopping_list) < 7:
    item = input('Add an item (or type "done" to finish): ')
    if item.lower() == 'done':
        break
    shopping_list.append(item)

Add an item (or type "done" to finish):  grapes
Add an item (or type "done" to finish):  bread
Add an item (or type "done" to finish):  chicken
Add an item (or type "done" to finish):  beef
Add an item (or type "done" to finish):  water
Add an item (or type "done" to finish):  bananas
Add an item (or type "done" to finish):  milk

In [16]:
print('How many items in shopping list:')
size = len(shopping_list)
print(size)

How many items in shopping list:
7

In [18]:
print('Shopping list in reverse order:')
for item in reversed(shopping_list):
    print(item)

Shopping list in reverse order:
milk
bananas
water
beef
chicken
bread
grapes

In [26]:
print("Shopping list in alphabetical order:")
for item in sorted(shopping_list):
    print(item)

Shopping list in alphabetical order:
bananas
beef
bread
chicken
grapes
milk
water

In [52]:
duplicates = set()
if duplicates:
    print('Duplicate items found in your shopping list:')
    for item in duplicates:
        print(item)
else:
    print('No duplicate items found.')

No duplicate items found.